body {
    /*background-image: url("../src/laptop-desk-macbook-apple-table-floor-99193-pxhere%201.png");*/
    /*background-repeat: no-repeat;*/
    width: auto;
    max-width: 1440px;
    height: auto;
}
header {
   display: flex;
    width: 1440px;
    height: 60px;
    background: #FBFAF9;
    justify-content: center;
    background-image: url("../src/laptop-desk-macbook-apple-table-floor-99193-pxhere%201.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
*, *:before, *:after {
    box-sizing: border-box;
}
.header-menu {
    display: block;
    width: 100%;
}
.header__item {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}
.header__link {
    padding: 0 20px;
    margin: 0 15px;
    list-style-type: none;

}
.header__logo {
    position: absolute;
    width: 165px;
    height: 30px;
    left: 150px;
    top: 15px;
}

.header-btn {
    width: 165px;
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
    background: #3343E1;
    border-radius: 20px;
    color: white;
    justify-content: center;
    text-align: center;
}

.input_form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    height: 389px;
    background: #E1F1FF;
    border-radius: 20px;
    margin-top: 40px;
    text-align: center;

}
.input_form__text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    align-items: center;
    text-align: center;
    padding-top: 25px;
}
.input_form__radio {
    display: flex;
    justify-content: space-evenly;
}
.input_form__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
input[type=text] {
    padding:10px;
    margin:10px 0; // add top and bottom margin
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 15px;
    border: 0;
    width: 470px;
    height: 30px;
}
input[type=number] {
    padding:10px;
    margin:10px 0; // add top and bottom margin
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 15px;
    border: 0;
    width: 470px;
    height: 30px;
}
#text_link {
    width: 471px;
    height: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}
.input-btn {
    width: 200px;
    height: 40px;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    align-content: center;
    color: #FFFFFF;
    background: #3343E1;
    border-radius: 20px;
}