body {
    max-width: 1440px;
}

header {
    width: 1440px;
    height: 60px;
    background: #FBFAF9;
    justify-content: center;
    background-image: url("../img/laptop-desk-macbook-apple-table-floor-99193-pxhere%201.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    &.header-menu {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 60px;
     &.logo {

     }   
    }
}