body {
  max-width: 1440px;
  background-image: url("bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

.header {
  width: 1440px;
  height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: rgba(251, 250, 249, 0.8);
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

.header-menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-menu-nav__item {
  padding: 0 20px;
  margin: 0 15px;
  list-style-type: none;
}

.header-menu-nav__item-list {
  display: none;
  background: rgba(255, 255, 255, 0.9);
  list-style-type: none;
}

.header-menu-nav__item-list:checked {
  display: block;
  position: relative;
  -webkit-transition: opacity .5s linear;
  transition: opacity .5s linear;
  -webkit-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}

.header-menu__btn {
  width: 165px;
  height: 40px;
  margin-top: auto;
  margin-bottom: auto;
  background: #3343E1;
  border-radius: 20px;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.header-menu__logo {
  width: 165px;
  height: 30px;
  left: 150px;
  top: 15px;
}

.input-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 750px;
  height: 389px;
  background: #E1F1FF;
  border-radius: 20px;
  margin-top: 40px;
  text-align: center;
}

.input-form__text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 25px;
}

.input-form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.input-form-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

.input-form__btn {
  width: 200px;
  height: 40px;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #FFFFFF;
  background: #3343E1;
  border-radius: 20px;
}

#radio-1, #radio-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

input[type=text] {
  padding: 10px;
  margin: 10px 0;
  -webkit-box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
          box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
  border: 0;
  width: 470px;
  height: 30px;
}

input[type=number] {
  padding: 10px;
  margin: 10px 0;
  -webkit-box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
          box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
  border: 0;
  width: 470px;
  height: 30px;
}

#text_link {
  width: 471px;
  height: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: justify;
}
/*# sourceMappingURL=style.css.map */