* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url("bg.png") center/cover no-repeat;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}
h1 {
    font-weight: 1000;
    font-size: 26px;
    line-height: 30px;
    margin-left: 30px;
}
.header {
    height: 100vh;
        &-menu {
            top: 0;
            background-color: rgba(255, 255, 255, 0.7);
            height: 60px;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            &-nav {
                display: flex;
                align-items: center;
                text-align: center;
                height: 100%;
                justify-content: space-around;
                text-decoration-line: none;
                &__item {
                    padding: 0 20px;
                    margin: 0 15px;
                    list-style-type: none;
                    
                    &:hover {
                        text-decoration: none;
                    }
                        &-dropdown {
                            display: none;
                            background:rgba($color: #FFFFFF, $alpha: 0.9);
                            list-style-type: none;
                        }
                }
        }
        &__btn {
            width: 165px;
            height: 40px;
            background: #3343E1;
            border-radius: 20px;
            border: none;
            color: white;
            justify-content: center;
            text-align: center;
        }   
     &__logo {
        background: url(../src/logo.svg) no-repeat;
        display: flex;
        justify-content: center;
            width: 165px;
            height: 30px;
            cursor: pointer;
     } 
    }
}

.input-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    height: 389px;
    background: #E1F1FF;
    border-radius: 20px;
    margin-top: 40px;
    text-align: center;
        &__text {
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        align-items: center;
        text-align: center;
        padding-top: 25px; 
    }
    &__checkbox {
        display: flex;
        justify-content: space-evenly;
    }
    &-inputs {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    &__btn {
        width: 200px;
        height: 40px;
        font-weight: 600;
        font-size: 13px;
        line-height: 18px;
        align-content: center;
        color: #FFFFFF;
        background: #3343E1;
        border-radius: 20px;
    }
}
#radio-1, #radio-2 {
    display: flex;
    justify-content: space-evenly;
}

input[type=text] {
    padding:10px;
    margin:10px 0; // add top and bottom margin
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 15px;
    border: 0;
    width: 470px;
    height: 30px;
}
input[type=number] {
    padding:10px;
    margin:10px 0; // add top and bottom margin
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 15px;
    border: 0;
    width: 470px;
    height: 30px;
}
#text_link {
    width: 471px;
    height: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: justify;
}