* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: url("bg.png") center/cover no-repeat;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

a {
  border: none;
  outline: none;
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: white;
}

h1 {
  font-weight: 1000;
  font-size: 26px;
  line-height: 30px;
  margin-left: 30px;
}

.header {
  height: 100vh;
}

.header-menu {
  top: 0;
  background-color: rgba(255, 255, 255, 0.7);
  height: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.header-menu-nav__item {
  padding: 0 20px;
  margin: 0 15px;
  list-style-type: none;
}

.header-menu-nav__item-dropdown {
  display: none;
}

.header-menu-nav__item-dropdown li {
  display: active;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0.9;
  border-top: 3px solid #3343E1;
  border-radius: 0 0 10px 10px;
  padding: 10px 0 10px 0;
  position: relative;
}

.header-menu__btn {
  width: 165px;
  height: 40px;
  background: #3343E1;
  border-radius: 20px;
  border: none;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  outline: none;
  cursor: pointer;
  display: block;
  width: 165px;
}

.header-menu__logo {
  background: url(../src/logo.svg) no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 165px;
  height: 30px;
  cursor: pointer;
}

.input-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 750px;
  height: 389px;
  background: #E1F1FF;
  border-radius: 20px;
  margin-top: 100px;
  text-align: center;
  text-align: -webkit-center;
}

.input-form__text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 25px;
}

.input-form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 10px;
}

.input-form-inputs {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

.input-form__btn {
  display: block;
  margin-top: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px;
  width: 165px;
  border-radius: 25px;
  background: #3343E1;
  border-radius: 20px;
  color: white;
}

.input-form__btn:hover {
  -webkit-box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
}

input[type=text] {
  padding: 10px;
  margin: 10px 0;
  -webkit-box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
          box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
  border: 0;
  width: 470px;
  height: 30px;
}

input[type=number] {
  padding: 10px;
  margin: 10px 0;
  -webkit-box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
          box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
  border: 0;
  width: 470px;
  height: 30px;
}

#text_link {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 15px;
  width: 470px;
}
/*# sourceMappingURL=style.css.map */